<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Criar um Ponto de Coleta</title>

        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="../../assets/css/create-point.css">
        <link rel="stylesheet" href="../../assets/css/modal.css">
        <link rel="stylesheet" href="../../assets/css/responsive.css">

    </head>
    <body>

        <div id="page-create-point">

            {% include "template-model/model-view-header.html" %}

            <form id="form-create-point" action="/create-point" method="POST">
                <h1>Cadastro do Ponto de Coleta</h1>
                <fieldset>
                    <legend>
                        <h2>Dados da entidade</h2>
                    </legend>

                    <div class="field-group">
                        <div class="field">
                            <label for="name">Nome da entidade</label>
                            <input type="text" name="name" id="name" required="required">
                        </div>
                        <!-- Implementar update de imagem e 
                            atualizar o caminho dela no banco de dados-->
                        <div class="field">
                            <label for="image">Imagem da entidade</label>
                            <input type="url" name="image" id="image" placeholder="http://">
                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field">
                            <label for="address">Endereço</label>
                            <input type="text" name="address" id="address" required="required">
                        </div>
                        <div class="field">
                            <label for="address2">Número/Complemento</label>
                            <input type="text" name="address2" id="address2" required="required">
                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field">
                            <label for="uf">Estado</label>
                            <select name="uf" id="uf" required="required">
                                <option value="">Selecione seu Estado</option>
                            </select>
                            <input type="hidden" name="state" id="state">
                        </div>
                        <div class="field">
                            <label for="city">Cidade</label>
                            <select name="city" id="city" disabled="disabled" required="required">
                                <option value="">Selecione sua Cidade</option>
                            </select>
                        </div>

                    </div>

                </fieldset>

                <fieldset class="fieldset">
                    <legend>
                        <h2>Itens de coleta</h2>
                        <span>Selecione um ou mais itens abaixo</span>
                    </legend>

                    <div class="itens-grid">
                        <!-- Implementar um código em js ou php pra otimizar isso -->
                        <!-- Pode ser capturando essas informações de arquivos .json -->
                        <li data-id="Lâmpadas">
                            <img src="../../assets/images/icones/lampadas.svg" alt="Lâmpadas">
                            <span>Lâmpadas</span>
                        </li>

                        <li data-id="Pilhas e Baterias">
                            <img src="../../assets/images/icones/baterias.svg" alt="Pilhas e Baterias">
                            <span>Pilhas e Baterias</span>
                        </li>

                        <li data-id="Pápeis e Papelão">
                            <img src="../../assets/images/icones/papeis-papelao.svg" alt="Pápeis e Papelão">
                            <span>Pápeis e Papelão</span>
                        </li>

                        <li data-id="Resíduos Eletrônicos">
                            <img src="../../assets/images/icones/eletronicos.svg" alt="Resíduos Eletrônicos">
                            <span>Resíduos Eletrônicos</span>
                        </li>

                        <li data-id="Resíduos Orgânicos">
                            <img src="../../assets/images/icones/organicos.svg" alt="Resíduos Orgânicos">
                            <span>Resíduos Orgânicos</span>
                        </li>

                        <li data-id="Óleo de Cozinha">
                            <img src="../../assets/images/icones/oleo.svg" alt="Óleo de Cozinha">
                            <span>Óleo de Cozinha</span>
                        </li>
                    </div>

                    <input type="hidden" name="itens" id="itens">
                </fieldset>

                <button>Cadastrar ponto de coleta</button>
            </form>
        </div>

        {% if saved %}
            {% include "template-model/model-view-modal-created.html" %}
        {% endif %}

        <script src="../../assets/js/create-point.js"></script>
    </body>
</html>