<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos de Coletas</title>

    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/search.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    

</head>
<body>

    <div id="page-search">
            <header>
                <img src="../../assets/images/icones/logo.svg" alt="Logomarca">
                <a href="../../public/index.html">
                    <span></span>
                    Voltar para Home
                </a>
            </header>

            <main>
                <h4>
                    <strong>Pontos </strong>encontrados
                </h4>

                <div class="cards">
                    <div class="card">
                        <img src="" alt="Colectoria">
                        <h1>Nome</h1>
                        <h3>Categoria</h3>
                        <p>Endereço</p>
                    </div>

                    <div class="card">
                        <img src="" alt="Colectoria">
                        <h1>Nome</h1>
                        <h3>Categoria</h3>
                        <p>Endereço</p>
                    </div>

                    <div class="card">
                        <img src="" alt="Colectoria">
                        <h1>Nome</h1>
                        <h3>Categoria</h3>
                        <p>Endereço</p>
                    </div>

                    <div class="card">
                        <img src="" alt="Colectoria">
                        <h1>Nome</h1>
                        <h3>Categoria</h3>
                        <p>Endereço</p>
                    </div>

                    <div class="card">
                        <img src="" alt="Colectoria">
                        <h1>Nome</h1>
                        <h3>Categoria</h3>
                        <p>Endereço</p>
                    </div>

                    <div class="card">
                        <img src="" alt="Colectoria">
                        <h1>Nome</h1>
                        <h3>Categoria</h3>
                        <p>Endereço</p>
                    </div>
                </div>
            </main>
            
    
    </div>
</body>
</html>