<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pontos de Coletas</title>

        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="../../assets/css/search.css">
        <link rel="stylesheet" href="../../assets/css/responsive.css">

    </head>
    <body>

        <div id="page-search">

            {% include "template-model/model-view-header.html" %}

            <main>

                {% if total > 0 %}
                    <h4>
                        <strong>{{ total }} Pontos
                        </strong>encontrados
                    </h4>

                    <div class="cards">

                        {% for point in points %}
                            <div class="card">
                                <img src="{{ point.point_image }}" alt="{{ point.point_name }}">
                                <h1>{{ point.point_name }}</h1>
                                <h3>{{ point.point_items }}</h3>
                                <p>
                                {{ point.point_city }}, {{ point.point_state }}
                                <br/>
                                {{ point.point_address }}
                                <br/>
                                {{ point.point_address2 }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}

                    <h4>Não há registros para esta pesquisa</h4>

                {% endif %}
            </main>
        </div>
    </body>
</html>